[submodule "pyRockBlock"]
	path = pyRockBlock
	url = https://github.com/MakerSnake/pyRockBlock
[submodule "lib/python3.5/site-packages/pyRockBlock"]
	path = lib/python3.5/site-packages/pyRockBlock
	url = https://github.com/MakerSnake/pyRockBlock
[submodule "SatCom/local-lib/pyRockBlock"]
	path = SatCom/local-lib/pyRockBlock
	url = https://github.com/MakerSnake/pyRockBlock
[submodule "SatCom/local-lib/IridiumSBD"]
	path = SatCom/local-lib/IridiumSBD
	url = https://github.com/mikalhart/IridiumSBD
